{{ wrapper.addClass('article article_preview').open() }}
    <a href="{{ url }}" title="Читать подробнее про &laquo;{{ title }}&raquo;" class="article__header article_preview__header">
        {{ img(preview_src).alt(preview_alt ?? title).addClass('article__img article_preview__img') }}
    </a>

    <h4 class="article__title article_preview__title">
        <a href="{{ url }}" class="article__title-link article_preview__title-link">
            {{ title }}
        </a>
    </h4>

    <p class="article__summary article_preview__summary">{{ summary }}</p>

    <div class="article__date article_preview__date">{{ date }}</div>
{{ wrapper.close() }}