{% set class = 'article article_preview' %}

{{ wrapper.addClass(class).open() }}
    <a href="{{ url }}"
        title="Читать подробнее про &laquo;{{ title }}&raquo;"
        class="{{ classlistToString(class, '', '__header') }}">
        {{ img(preview_src).alt(preview_alt ?? title).addClass(classlistToString(class, '', '__img')) }}
    </a>

    <h4 class="{{ classlistToString(class, '', '__title') }}">
        <a href="{{ url }}" class="{{ classlistToString(class, '', '__title-link') }}">
            {{ title }}
        </a>
    </h4>

    <p class="{{ classlistToString(class, '', '__summary') }}">{{ summary }}</p>

    <footer class="{{ classlistToString(class, '', '__footer') }}">
        <span class="{{ classlistToString(class, '', '__date') }}">{{ date }}</span>
        <span class="{{ classlistToString(class, '', '__rating') }}"
            title="{{ t('Rating') }}">
            {% if rating < 0 %}
            {{ usesvg('/images/icons/heart-broken.svg#svg-icon-heart-broken', {class: 'broken'}) }}
            {% else %}
            {{ usesvg('/images/icons/heart.svg#svg-icon-heart') }}
            {% endif %}
            <span>{{ rating > 0 ? '+' ~ rating : rating }}</span>
        </span>
        {% if views > 0 %}
        <span class="{{ classlistToString(class, '', '__views') }}"
            title="{{ t('Views') }}">
            {{ usesvg('/images/icons/eye.svg#svg-icon-eye') }}
            <span>{{ views }}</span>
        </span>
        {% endif %}
        {% if comments_count %}
        <span class="{{ classlistToString(class, '', '__comments') }}"
            title="{{ t('Comments') }}">
            {{ usesvg('/images/icons/comment.svg#svg-icon-comment') }}
            <span>{{ comments_count }}</span>
        </span>
        {% endif %}
    </footer>
{{ wrapper.close() }}