{% set class = 'form form_article' %}
{% set checked = ' checked' %}
{% if article and article.get('status') == 0 %}
    {% set checked = null %}
{% endif %}
{% if article == null and old('status') == 0 %}
    {% set checked = null %}
{% endif %}

{{ wrapper.addClass('form-wrapper form-wrapper_article').open() }}
    <form action="{{ form_action }}" method="POST" {{ id('form-blog-article', true) }} class="{{ class }}">
        <input type="hidden" name="type" value="{{ form_type }}">

        <div class="{{ classlistToString(class, '', '__field') }}">
            <label for="form-blog-article--title" class="{{ classlistToString(class, '', '__label') }}">Title:</label>
            <input
                type="text"
                {{ id('form-blog-article--title', true) }}
                name="title"
                maxlength="256"
                class="{{ classlistToString(class, '', '__input') }}"
                value="{{- article ? article.get('title') : old('title') -}}"
                required>
        </div>

        <div class="{{ classlistToString(class, '', '__field') }}">
            <label for="form-blog-article--alias" class="{{ classlistToString(class, '', '__label') }}">Alias path:</label>
            <div class="{{ classlistToString(class, '', '__line') }}">
                <span class="{{ classlistToString(class, '', '__prefix') }}"><code>/blog/</code></span>
                <input
                    type="text"
                    {{ id('form-blog-article--alias', true) }}
                    name="alias"
                    maxlength="256"
                    class="{{ classlistToString(class, '', '__input') }}"
                    placeholder="You can specify alias manualy or it will be generated automatically"
                    value="{{- article ? article.get('alias') : old('alias') -}}">
            </div>
        </div>

        <div class="{{ classlistToString(class, '', '__field') }}">
            <label for="form-blog-article--preview-src" class="{{ classlistToString(class, '', '__label') }}">Preview image</label>
            <div class="{{ classlistToString(class, '', '__line') }}">
                <label for="form-blog-article--preview-src" class="{{ classlistToString(class, '', '__prefix') }}">
                    src:
                </label>
                <input
                    type="text"
                    {{ id('form-blog-article--preview-src', true) }}
                    name="preview_src"
                    maxlength="256"
                    class="{{ classlistToString(class, '', '__input') }}"
                    value="{{- article ? article.get('preview_src') : old('preview_src') -}}">
            </div>            
            <div class="{{ classlistToString(class, '', '__line') }}">
                <label for="form-blog-article--preview-alt" class="{{ classlistToString(class, '', '__prefix') }}">
                    alt:
                </label>
                <input
                    type="text"
                    {{ id('form-blog-article--preview-alt', true) }}
                    name="preview_alt"
                    maxlength="256"
                    class="{{ classlistToString(class, '', '__input') }}"
                    value="{{- article ? article.get('preview_alt') : old('preview_alt') -}}">
            </div>
        </div>
        
        <div class="{{ classlistToString(class, '', '__field') }}">
            <label for="form-blog-article--summary" class="{{ classlistToString(class, '', '__label') }}">Article summary:</label>
            <textarea
                {{ id('form-blog-article--summary', true) }}
                name="summary"
                class="{{ classlistToString(class, '', ['__textarea', '__textarea_summary']) }}"
                rows="3"
                maxlength="512"
                required>{{- article ? article.get('summary') : old('summary') -}}</textarea>
        </div>
        
        <div class="{{ classlistToString(class, '', '__field') }}">
            <label for="form-blog-article--body" class="{{ classlistToString(class, '', '__label') }}">Body:</label>
            <textarea
                {{ id('form-blog-article--body', true) }}
                name="body"
                class="{{ classlistToString(class, '', ['__textarea', '__textarea_body']) }}"
                rows="8"
                required>{{- article ? article.get('body') : old('body') -}}</textarea>
            <div class="{{ classlistToString(class, '', '__footer') }}">
                {{ html_tags_autofill }}
            </div>
        </div>

        <div class="{{ classlistToString(class, '', '__field') }}">
            <label for="form-blog-article--author" class="{{ classlistToString(class, '', '__label') }}">Author:</label>
            {% set author_name = user_name %}
            {% if article and article.get('author') %}
                {% set author_name = article.get('author') %}
            {% else %}
                {% if old('author') %}
                    {% set author_name = old('author') %}
                {% endif %}
            {% endif %}            
            <input
                type="text"
                {{ id('form-blog-article--author', true) }}
                name="author"
                maxlength="50"
                class="{{ classlistToString(class, '', '__input') }}"
                value="{{- author_name -}}"
                required>
        </div>

        <footer class="{{ classlistToString(class, '', '__footer') }}">
            <div class="{{ classlistToString(class, '', ['__field', '__field_checkbox']) }}">
                <label for="form-blog-article--status"
                    class="{{ classlistToString(class, '', ['__label', '__label_checkbox']) }}">
                    <input type="checkbox"
                        {{ id('form-blog-article--status', true) }}
                        name="status"
                        class="{{ classlistToString(class, '', '__checkbox') }}"
                        value="1"{{ checked }}>
                        <span class="{{ classlistToString(class, '', '__checkbox-switcher') }}"></span>
                        <span>Publish</span>
                </label>
            </div>

            <div class="{{ classlistToString(class, '', ['__field', '__field_submit']) }}">
                <input type="submit" value="Save" class="btn btn_transparent {{ classlistToString(class, '', '__submit') }}">
            </div>
        </footer>
    </form>
{{ wrapper.close() }}