{% set class = 'form form_article' %}

{{ wrapper.addClass('form-wrapper form-wrapper_article').open() }}
    <form action="/blog" method="POST" {{ id('form-blog-article', true) }} class="{{ class }}">
        <input type="hidden" name="type" value="blog-article-create">

        <div class="{{ classlistToString(class, '', '__field') }}">
            <label for="form-blog-article--title" class="{{ classlistToString(class, '', '__label') }}">Title:</label>
            <input
                type="text"
                {{ id('form-blog-article--title', true) }}
                name="title"
                max-length="256"
                class="{{ classlistToString(class, '', '__input') }}"
                required{{ old('title', true) }}>
        </div>

        <div class="{{ classlistToString(class, '', '__field') }}">
            <label for="form-blog-article--alias" class="{{ classlistToString(class, '', '__label') }}">Alias path:</label>
            <div class="{{ classlistToString(class, '', '__line') }}">
                <span class="{{ classlistToString(class, '', '__prefix') }}"><code>/blog/</code></span>
                <input
                    type="text"
                    {{ id('form-blog-article--alias', true) }}
                    name="alias"
                    max-length="256"
                    class="{{ classlistToString(class, '', '__input') }}"
                    placeholder="You can specify alias manualy or it will be generated automatically"
                    {{ old('alias', true) }}>
            </div>
        </div>

        <div class="{{ classlistToString(class, '', '__field') }}">
            <label for="form-blog-article--preview-src" class="{{ classlistToString(class, '', '__label') }}">Preview image</label>
            <div class="{{ classlistToString(class, '', '__line') }}">
                <label for="form-blog-article--preview-src" class="{{ classlistToString(class, '', '__prefix') }}">
                    src:
                </label>
                <input
                    type="text"
                    {{ id('form-blog-article--preview-src', true) }}
                    name="preview_src"
                    max-length="256"
                    class="{{ classlistToString(class, '', '__input') }}"{{ old('preview_src', true) }}>
            </div>            
            <div class="{{ classlistToString(class, '', '__line') }}">
                <label for="form-blog-article--preview-alt" class="{{ classlistToString(class, '', '__prefix') }}">
                    alt:
                </label>
                <input
                    type="text"
                    {{ id('form-blog-article--preview-alt', true) }}
                    name="preview_alt"
                    max-length="256"
                    class="{{ classlistToString(class, '', '__input') }}"{{ old('preview_alt', true) }}>
            </div>
        </div>
        
        <div class="{{ classlistToString(class, '', '__field') }}">
            <label for="form-blog-article--summary" class="{{ classlistToString(class, '', '__label') }}">Article summary:</label>
            <textarea
                {{ id('form-blog-article--summary', true) }}
                name="summary"
                class="{{ classlistToString(class, '', ['__textarea', '__textarea_summary']) }}"
                rows="3"
                max-length="512"
                required>{{ old('summary') }}</textarea>
        </div>
        
        <div class="{{ classlistToString(class, '', '__field') }}">
            <label for="form-blog-article--body" class="{{ classlistToString(class, '', '__label') }}">Body:</label>
            <textarea
                {{ id('form-blog-article--body', true) }}
                name="body"
                class="{{ classlistToString(class, '', ['__textarea', '__textarea_body']) }}"
                rows="8"
                required>{{ old('body') }}</textarea>
            <div class="{{ classlistToString(class, '', '__footer') }}">
                {{ html_tags_autofill }}
            </div>
        </div>

        <div class="{{ classlistToString(class, '', '__field') }}">
            <label for="form-blog-article--author" class="{{ classlistToString(class, '', '__label') }}">Author:</label>
            <input
                type="text"
                {{ id('form-blog-article--author', true) }}
                name="author"
                max-length="50"
                class="{{ classlistToString(class, '', '__input') }}"
                {% if old('author') %}
                    {{ old('author', true) }}
                {% else %}value="{{ user_name }}"{% endif %}                
                required>
        </div>

        <footer class="{{ classlistToString(class, '', '__footer') }}">
            <div class="{{ classlistToString(class, '', ['__field', '__field_submit']) }}">
                <input type="submit" value="Save" class="btn btn_transparent {{ classlistToString(class, '', '__submit') }}">
            </div>

            <div class="{{ classlistToString(class, '', ['__field', '__field_checkbox']) }}">
                <label for="form-blog-article--status"
                    class="{{ classlistToString(class, '', ['__label', '__label_checkbox']) }}">
                    <input type="checkbox"
                        {{ id('form-blog-article--status', true) }}
                        name="status"
                        class="{{ classlistToString(class, '', '__checkbox') }}"
                        value="1" checked>
                        Publish
                </label>
            </div>
        </footer>
    </form>
{{ wrapper.close() }}