{{ wrapper.addClass('form-wrapper form-wrapper_blog-article').open() }}
    <form action="/blog" method="POST" {{ id('form-blog-article', true) }} class="form form_blog-article">
        <input type="hidden" name="type" value="blog-article-create">

        <div class="form__field form_blog-article__field">
            <label for="form-blog-article--title" class="form__field-label form_blog-article__field-label">Title:</label>
            <input
                type="text"
                {{ id('form-blog-article--title', true) }}
                name="title"
                max-length="256"
                class="form__input form_blog-article__input"
                required>
        </div>

        <div class="form__field form_blog-article__field">
            <label for="form-blog-article--alias" class="form__field-label form_blog-article__field-label">Alias path:</label>
            <div class="form__input-line form_blog-article__input-line">
                <span class="form__input-prefix"><code>/blog/</code></span>
                <input
                    type="text"
                    {{ id('form-blog-article--alias', true) }}
                    name="alias"
                    max-length="256"
                    class="form__input form_blog-article__input">
            </div>
        </div>

        <div class="form__field form_blog-article__field">
            <label for="form-blog-article--preview-src" class="form__field-label form_blog-article__field-label">Preview image src link:</label>
            <input
                type="text"
                {{ id('form-blog-article--preview-src', true) }}
                name="preview_src"
                max-length="256"
                class="form__input form_blog-article__input">
        </div>

        <div class="form__field form_blog-article__field">
            <label for="form-blog-article--preview-alt" class="form__field-label form_blog-article__field-label">Preview image alternative text:</label>
            <input
                type="text"
                {{ id('form-blog-article--preview-alt', true) }}
                name="preview_alt"
                max-length="256"
                class="form__input form_blog-article__input">
        </div>
        
        <div class="form__field form_blog-article__field">
            <label for="form-blog-article--summary" class="form__field-label form_blog-article__field-label">Article summary:</label>
            <textarea
                {{ id('form-blog-article--summary', true) }}
                name="summary"
                class="form__textarea form_blog-article__textarea form_blog-article__textarea_summary"
                rows="3"
                max-length="512"
                required></textarea>
        </div>
        
        <div class="form__field form_blog-article__field">
            <label for="form-blog-article--body" class="form__field-label form_blog-article__field-label">Body:</label>
            <textarea
                {{ id('form-blog-article--body', true) }}
                name="body"
                class="form__textarea form_blog-article__textarea form_blog-article__textarea_body"
                rows="8"
                required></textarea>
        </div>

        <div class="form__field form_blog-article__field">
            <label for="form-blog-article--author" class="form__field-label form_blog-article__field-label">Author:</label>
            <input
                type="text"
                {{ id('form-blog-article--author', true) }}
                name="author"
                max-length="50"
                class="form__input form_blog-article__input"
                required>
        </div>

        <footer class="form__footer form_blog-article__footer">
            <div class="form__field form_blog-article__field form_blog-article__field_submit">
                <input type="submit" value="Save" class="btn btn_transparent form__submit form_blog-article__submit">
            </div>

            <div class="form__field form__field_checkbox form_blog-article__field form_blog-article__field_checkbox">
                <input
                    type="checkbox"
                    {{ id('form-blog-article--status', true) }}
                    name="status"
                    class="form__checkbox form_blog-article__checkbox"
                    value="1" checked>
                <label for="form-blog-article--status"
                    class="form__field-label form__field-label_checkbox form_blog-article__field-label_checkbox">
                    Publish
                </label>
            </div>
        </footer>
    </form>
{{ wrapper.close() }}