{% set class = 'form form_comment' %}

{{ wrapper.addClass('section section_comment-form form-wrapper').open() }}
    <h2 class="section__header section_comment-form__header">Оставьте свой комментарий</h2>
    <form action="{{ link('blog').raw() }}" method="POST" {{ id('form-comment', true) }} class="{{ class }}">
        {{ csrf() }}
        <input type="hidden" name="type" value="comment-add">
        <input type="hidden" name="parent_id" value="{{ parent_id }}">
        <input type="hidden" name="entity_id" value="{{ entity_id }}">
        <div class="{{ classlistToString(class, '', '__field') }}">
            <label for="form-comment--name" class="{{ classlistToString(class, '', '__label') }}">Ваше имя:</label>
            <input
                type="text"
                {{ id('form-comment--name', true) }}
                name="name"
                maxlength="60"
                class="{{ classlistToString(class, '', '__input') }}"
                required
                {% if old('name') %}
                    {{ old('name', true) }}
                {% else %}
                    {% if user_name %}value="{{ user_name }}"{% endif %}
                {% endif %}>
        </div>
        <div class="{{ classlistToString(class, '', '__field') }}">
            <label for="form-comment--mail" class="{{ classlistToString(class, '', '__label') }}">Ваш e-mail:</label>
            <input
                type="email"
                {{ id('form-comment--mail', true) }}
                name="email"
                maxlength="256"
                class="{{ classlistToString(class, '', '__input') }}"
                required
                {% if old('email') %}
                    {{ old('email', true) }}
                {% else %}
                    {% if user_mail %}value="{{ user_mail }}"{% endif %}
                {% endif %}>
            <span class="{{ classlistToString(class, '', '__annotation') }}">Он не будет отображаться где-либо на сайте. Это только для обратной связи с Вами.</span>
        </div>
        <div class="{{ classlistToString(class, '', '__field') }}">
            <label for="form-comment--subject" class="{{ classlistToString(class, '', '__label') }}">Комментарий:</label>
            <textarea
                {{ id('form-comment--subject', true) }}
                name="subject"
                class="{{ classlistToString(class, '', '__textarea') }}"
                rows="6"
                required>{{ old('subject') }}</textarea>
        </div>
        <div class="{{ classlistToString(class, '', '__field') }}">
            <input type="submit" value="Отправить" class="btn btn_transparent {{ classlistToString(class, '', '__submit') }}">
        </div>
    </form>

    <div class="form-wrapper__rules">
        <p>Во избежание публикации нежелательного контента, все комментарии проходят премодерацию.</p>
        <p>Пожалуйста воздержитесь от отправки комментария, если он содержит:</p>
        <ul>
            <li>Ругань и ненормативную лексику при отсутствии смысловой нагрузки;</li>
            <li>Рекламу (услуги, товары, ссылки и пр.);</li>
            <li>Неинформативный текст, флуд, спам.</li>
        </ul>
        <p>Комментарии подобного характера не будут опубликованы.</p>
    </div>
{{ wrapper.close() }}