{{ wrapper.addClass('form-wrapper form-wrapper_skill').open() }}
    <form action="{{ action }}" method="POST" {{ id('form-skill', true) }} class="form form_skill">
        <input type="hidden" name="type" value="{{ type }}">

        <div class="form__field form_skill__field">
            <label for="form-skill--title" class="form__field-label form_skill__field-label">Title:</label>
            <input
                type="text"
                {{ id('form-skill--title', true) }}
                name="title"
                max-length="256"
                class="form__input form_skill__input"
                value="{{ title ? title : old('title') }}"
                required>
        </div>

        <div class="form__field form_skill__field">
            <label for="form-skill--icon-src" class="form__field-label form_skill__field-label">Icon image</label>
            <div class="form__input-line form_skill__input-line">
                <label for="form-skill--icon-src" class="form__input-prefix form_skill__input-prefix">src:</label>
                <input
                    type="text"
                    {{ id('form-skill--icon-src', true) }}
                    name="icon_src"
                    max-length="256"
                    class="form__input form_skill__input"
                    value="{{ icon_src ? icon_src : old('icon_src') }}"
                    required>
            </div>
            <div class="form__input-line form_skill__input-line">
                <label for="form-skill--icon-alt" class="form__input-prefix form_skill__input-prefix">alt:</label>
                <input
                    type="text"
                    {{ id('form-skill--icon-alt', true) }}
                    name="icon_alt"
                    max-length="256"
                    class="form__input form_skill__input"
                    value="{{ icon_alt ? icon_alt : old('icon_alt') }}"
                    required>
            </div>
        </div>
        
        <div class="form__field form_skill__field">
            <label for="form-skill--body" class="form__field-label form_skill__field-label">Body:</label>
            <textarea
                {{ id('form-skill--body', true) }}
                name="body"
                class="form__textarea form_skill__textarea form_skill__textarea_body"
                rows="8"
                required>{{ body ? body : old('body') }}</textarea>
            <div class="form__field-footer form_skill__field-footer">
                {{ html_tags_autofill }}
            </div>
        </div>

        <footer class="form__footer form_skill__footer">
            <div class="form__field form_skill__field form_skill__field_submit">
                <input type="submit" value="Save" class="btn btn_transparent form__submit form_skill__submit">
            </div>
        </footer>
    </form>
{{ wrapper.close() }}