{{ wrapper.open() }}
    <ul class="status-messages">
        {% for item in items %}
            {% set class = 'status-message ' ~ classlistToString('status-message_', '', [item.type, item.class]) %}
            <li class="{{ class }}">
                {% if item.prefix %}
                    <p class="{{ classlistToString(class, '', '__prefix') }}">
                        {{- item.prefix -}}
                    </p>
                {% endif %}
                <p class="{{ classlistToString(class, '', '__output') }}">
                    {{- item.text -}}
                </p>
            </li>
        {% endfor %}
    </ul>
{{ wrapper.close() }}