{{ wrapper.open() }}
    {{ label }}
    {% if items is iterable %}
        <ul class="articles articles_teaser">
            {% for item in items %}
                <li class="articles__item articles_teaser__item">{{ item }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {{ link('blog').addClass('section__more-link').label('Ещё в блоге') }}
{{ wrapper.close() }}