{{ wrapper.open() }}
    {{ label }}
    <p>Связать со мной можно следующими способами:</p>
    <ul class="socials">
        <li>
            {{ img('images/icons/email.svg').alt('E-mail icon').width(24) }}
            <span>Мой e-mail: <a href="mailto:info@mublog.site">info@mublog.site</a></span>
        </li>
        <li>
            {{ img('images/icons/vk.svg').alt('VK icon').width(24) }}
            <span>Я ВКонтакте: <a href="https://vk.com/uspmm" target="_blank">vk.com/uspmm</a></span>
        </li>
        <li>
            {{ img('images/icons/tg.svg').alt('Telegram icon').width(24) }}
            <span>Я в Телеграме: <a href="https://t.me/dirtymike" target="_blank">@dirtymike</a></span>
        </li>
    </ul>
    <p>Либо отправить сообщение через форму обратной связи:</p>
    <div class="feedback-form">
        <form action="/" method="POST" {{ id('form-feedback', true) }} class="form form_feedback">
            <input type="hidden" name="type" value="feedback">
            <div class="form__field form_feedback__field">
                <label for="form-feedback--name" class="form__field-label form_feedback__field-label">Ваше имя:</label>
                <input
                    type="text"
                    {{ id('form-feedback--name', true) }}
                    name="name"
                    max="60"
                    class="form__input form_feedback__input"
                    required>
            </div>
            <div class="form__field form_feedback__field">
                <label for="form-feedback--mail" class="form__field-label form_feedback__field-label">Ваш e-mail:</label>
                <input
                    type="email"
                    {{ id('form-feedback--mail', true) }}
                    name="email"
                    max="255"
                    class="form__input form_feedback__input"
                    required>
                <span class="form__field-anno form_feedback__field-anno">Он не будет отображаться где-либо на сайте. Это только для обратной связи с Вами.</span>
            </div>
            <div class="form__field form_feedback__field">
                <label for="form-feedback--subject" class="form__field-label form_feedback__field-label">Сообщение:</label>
                <textarea
                    {{ id('form-feedback--subject', true) }}
                    name="subject"
                    class="form__textarea form_feedback__textarea"
                    rows="6"
                    required></textarea>
            </div>
            <div class="form__field form_feedback__field">
                <input type="submit" value="Отправить" class="btn btn_transparent form__submit form_feedback__submit">
            </div>
        </form>
        <div class="feedback-form__rules">
            <p>Пожалуйста воздержитесь от отправки сообщения, если оно содержит:</p>
            <ul>
                <li>Ругать и ненормативную лексику;</li>
                <li>Рекламу (услуги, товары и пр.);</li>
                <li>Неинформативный текст, флуд, спам.</li>
            </ul>
            <p>Сообщения подобного характера будут проигнорированы.</p>
        </div>
    </div>
{{ wrapper.close() }}