{{ wrapper.open() }}
    {{ label }}
    <p>Связать со мной можно следующими способами:</p>
    <ul class="socials">
        <li>
            {{ img('images/icons/email.svg').alt('E-mail icon').width(24) }}
            <span>Мой e-mail: <a href="mailto:info@mublog.site">info@mublog.site</a></span>
        </li>
        <li>
            {{ img('images/icons/vk.svg').alt('VK icon').width(24) }}
            <span>Я ВКонтакте: <a href="https://vk.com/uspmm" target="_blank">vk.com/uspmm</a></span>
        </li>
        <li>
            {{ img('images/icons/tg.svg').alt('Telegram icon').width(24) }}
            <span>Я в Телеграме: <a href="https://t.me/dirtymike" target="_blank">@dirtymike</a></span>
        </li>
    </ul>
    <p>Либо отправить сообщение через форму обратной связи:</p>
    <div class="feedback-form">
        {{ form }}
        <div class="feedback-form__rules">
            <p>Пожалуйста воздержитесь от отправки сообщения, если оно содержит:</p>
            <ul>
                <li>Ругань и ненормативную лексику;</li>
                <li>Рекламу (услуги, товары и пр.);</li>
                <li>Неинформативный текст, флуд, спам.</li>
            </ul>
            <p>Сообщения подобного характера будут проигнорированы.</p>
        </div>
    </div>
{{ wrapper.close() }}