{% set list_class = 'skills' %}

{{ wrapper.open() }}
    {{ label }}
    <ul class="{{ list_class }}" {{ id('skills', true) }}>
        {% for item in items %}
            <li class="{{ classlistToString(list_class, '', '__item') }}">{{ item }}</li>
        {% endfor %}
    </ul>
    <footer class="{{ classlistToString(wrapper.attributes().classList(), '', '__footer') }}">
        <div id="skill-card-placeholder"></div>
    </footer>
{{ wrapper.close() }}