{{ wrapper.open() }}
    {{ label }}
    <article class="summary-card">
        {{ img('/images/mu-avatar.webp').alt('Фото для резюме') }}
        <h3>Кратко обо мне:</h3>
        <p>&emsp;Меня зовут Михаил Успенский, мне {{ my_age }} года сейчас и я ищу постоянную работу в области веб-разработки. На данный момент являюсь fullstack-разработчиком на Drupal, с хорошим знанием ООП в PHP и JS, а так же знанием HTML5/CSS3 и адаптивной вёрстки.</p>
    </article>
    <article>
        <h3>Профессиональные навыки веб-разработчика:</h3>
        <ul>
            <li>Знание ОС windows, Ubuntu, знание <code>bash</code> и понимание особенностей unix файловых систем, пользователей и прав доступа;</li>
            <li>Развёртка и настройка локальных <code>XAMP/XAPP</code>, запуск и настройка сайтов на хостингах (cpanel, ispmanager, beget);</li>
            <li>Знание и умение программировать на <code>PHP, JS, C#</code>, понимание базовых принципов выбранных языков программирования;</li>
            <li>Умение читать документацию и stackoverflow на английском, применять грамотный и читабельный code-style с понятным неймингом;</li>
            <li>Знание отличий <code>PHP</code> версий <code>5, 7, 8</code>, умение подключать модули, в том числе <code>xdebug</code>;</li>
            <li>Знание стандартов <code>PSR-1, PSR-3, PSR-4, PSR-6, PSR-7, PSR-12</code>;</li>
            <li>Знание и понимание принципов ООП, знание паттернов программирования;</li>
            <li>Знание <code>CMS Drupal 7, 8</code> и фреймворка <code>Laravel</code>, установка и обновление через <code>composer</code>;</li>
            <li>Близкое знакомство с <code>bash/composer/npm/ssh/drush/artisan/git</code> и пр;</li>
            <li>Хорошее знание <code>HTML5/CSS3</code>, в том числе адаптивная вёрстка, использование <code>SASS/SCSS, Gulp.js</code>;</li>
            <li>Хорошее знание шаблонизатора <code>Symfony\Twig</code>. Знание других шаблонизаторов - <code>blade, pug</code>;</li>
            <li>Навыки адаптации вёрстки для <code>Google AMP</code> и контента для <code>Яндекс.Турбо</code>;</li>
            <li>Грамотный нейминг функций, переменных, методов, классов, использование <code>BEM</code>-модели в именовании HTML-классов;</li>
            <li>Контроль версий <code>git</code>, использование SmartGit, консольный git;</li>
            <li>Знание <code>SQL</code>, понимание отличий и умение использовать <code>DDL</code> и <code>DML</code>, настройка и использование <code>MySQL/NoSQL/PostgreSQL</code>;</li>
            <li>Знание английского языка, умение читать документацию на английском;</li>
            <li>Слепой набор кода и текста на русской и английской расскладке ~ 300-500 сим./мин.</li>
        </ul>
    </article>
    <article>
        <h3>Что я ищу:</h3>
        <ul>
            <li>Место php-разработчика, или fullstack-разработчика в web-разработке на уровне middle/middle+;</li>
            <li>Трудостустройство и оформление по ТК РФ;</li>
            <li>Нормированный рабочий график 5/2;</li>
            <li>Работа в офисе, либо частично удалённо;</li>
            <li>Москва, переезды исключены;</li>
            <li>При необходимости стажировки, так же оформление по договору;</li>
            <li>Оплата &laquo;белая&raquo;, от 200 000 р.</li>
        </ul>
    </article>
    <article>
        <h3>Портфолио:</h3>
        <ul>
            <li>
                <p class="margin-bottom_small">Код этого блога доступен в моём <a href="https://github.com/DirtyVbif/blog" target="_blank">репозитории на github'e</a></p>
                <div class="summary-tags">
                    <p class="summary-tags__text">Стэк:</p>
                    <ul class="summary-tags__list">
                        <li class="summary-tag">PHP 8.1</li>
                        <li class="summary-tag">PSR</li>
                        <li class="summary-tag">xdebug</li>
                        <li class="summary-tag">MySQL 8</li>
                        <li class="summary-tag">HTML5</li>
                        <li class="summary-tag">CSS3</li>
                        <li class="summary-tag">BEM</li>
                        <li class="summary-tag">SASS/SCSS</li>
                        <li class="summary-tag">Symfony/Twig 3</li>
                        <li class="summary-tag">gulp.js</li>
                        <li class="summary-tag">composer</li>
                        <li class="summary-tag">Git</li>
                        <li class="summary-tag">Ubuntu</li>
                        <li class="summary-tag">XAMP\XAPP</li>
                        <li class="summary-tag">bash</li>
                        <li class="summary-tag">VSCode</li>
                        <li class="summary-tag">Photoshop</li>
                        <li class="summary-tag">Illustrator</li>
                    </ul>
                </div>
            </li>
            <li>одностраничный сайт с <a href="https://my.mublog.site" target="_blank">сервисным мануалом для Subaru XV</a> в pdf формате;</li>
            <li>Проект на Drupal 7 - <a href="https://zaimtime.ru" target="_blank">zaimtime.ru</a></li>
            <li>Проект на Drupal 8 - <a href="https://moneyzz.ru" target="_blank">moneyzz.ru</a></li>
            <li>Проект на Drupal 8 - <a href="https://zaimtime.kz" target="_blank">zaimtime.kz</a></li>
            <li>Проект на Drupal 8 - <a href="http://zaimfind.ru" target="_blank">zaimfind.ru</a></li>
        </ul>
    </article>
    <article>
        <h3>Опыт в веб-разработке:</h3>
        <ul>
            <li>
                <p class="margin-bottom_small"><i>2018-2021</i> Разработка и ведение проектов на Drupal 7 и 8 версий, разработка модулей, темизация, php-разработчик на Drupal, фриланс.</p>
                <div class="summary-tags">
                    <p class="summary-tags__text">Стэк:</p>
                    <ul class="summary-tags__list">
                        <li class="summary-tag">CMS Drupal 7</li>
                        <li class="summary-tag">CMS Drupal 8</li>
                        <li class="summary-tag">PHP 7</li>
                        <li class="summary-tag">JS</li>
                        <li class="summary-tag">jQuery</li>
                        <li class="summary-tag">Symfony/Twig</li>
                        <li class="summary-tag">HTML5</li>
                        <li class="summary-tag">CSS3</li>
                        <li class="summary-tag">SASS/SCSS</li>
                        <li class="summary-tag">Composer</li>
                        <li class="summary-tag">drush</li>
                        <li class="summary-tag">yandex.turbo</li>
                        <li class="summary-tag">amp technology</li>
                        <li class="summary-tag">bash</li>
                        <li class="summary-tag">ssh</li>
                    </ul>
                </div>
            </li>
        </ul>            
        <h3>Другой опыт работы:</h3>
        <ul>
            <li>
                <p class="margin-bottom_small"><i>2014-2018</i> Проектирование складов и логистических центров в ООО &laquo;Мегастор&raquo;, проектировщик.</p>
                <div class="summary-tags">
                    <p class="summary-tags__text">Стэк:</p>
                    <ul class="summary-tags__list">
                        <li class="summary-tag">AutoCAD</li>
                        <li class="summary-tag">3ds MAX</li>
                        <li class="summary-tag">VRay</li>
                        <li class="summary-tag">Corona</li>
                        <li class="summary-tag">Unity 3D</li>
                        <li class="summary-tag">Photoshop</li>
                        <li class="summary-tag">Illustrator</li>
                    </ul>
                </div>
            </li>
            <li><i>2013-2014</i> Проектирование и планировка офисов и офисных здание в ООО &laquo;Груп Системс&raquo;, архитектор-проектировщик;</li>
            <li><i>2010-2011</i> Прохождение срочной службы в армии, в/ч 92925, оператор С300-ПМ;</li>
            <li><i>2008-2010</i> Два периода работы по полгода в ООО &laquo;АРКАТ&raquo; во время учёбы в колледже, помощник архитектора.</li>
        </ul>
    </article>
    <article>
        <h3>Образование:</h3>
        <ul>
            <li>Высшее образование НИУ МГСУ ИСА, бакалавр архитектурно-строительного факультета, вечернее отделение, выпуск 2015.</li>
            <li>Среднее специальное образование КАС №7 (ранее МКАиСИ №7) по специальности &laquo;Архитектура&raquo;;</li>
            <li>Художественное образование ГОУ ДШИ &laquo;Старт&raquo; архитектурно-художественного профиля, окончил в 2005 году;</li>
            <li>Среднее образование 9 классов ГБОУ СОШ №1440 (ранее школа №78, №1304), с углублённым изучением иностранных языков, выпустился в 2005 году;</li>
        </ul>
    </article>
    <article>
        <h3>Дополнительные навыки:</h3>
        <ul>
            <li>Архитектурное и складское проектирование, знание Autocad, Archicad, Revit;</li>
            <li>3D моделирование и визуализация, знание 3ds Max, VRay, Corona;</li>
            <li>Знание и понимание принципов текстурирования, создания различных карт (diffuse, bump, normal, reflection, refract);</li>
            <li>Навыки в области графического дизайна, знание Photoshop, CorelDraw, Illustrator;</li>
            <li>Создание рабочего 3D приложения на Unity;</li>
            <li>Умение обрабатывать и редактировать аудио- и видео- файлы, знание Pinnacle Studio, Adobe Audition;</li>
            <li>Создание модификаций и собственного контента для различных игр.</li>
        </ul>
    </article>
    <article class="text-justify">
        <h3>Ещё немного обо мне:</h3>
        <p>&emsp;Родился я в 89 году, вырос и живу сейчас в Москве. Женат, детей пока нет. По образованию я архитектор и предыдущий опыт работы до 2018 года связан именно с архитектурой и проектированием. Но в 2018 году я сменил область своей профессиональной деятельности и переквалифицировался полностью в IT. На протяжении всей своей карьеры я успел хорошо изучить 3D-моделирования и визуализацию (3ds max), а так же создание 3D-приложений на Unity.</p>
        <p>&emsp;В итоге, на данный момент, имею опыт и знание как в проектировании, 3D-моделировании, так и в программировании и веб-разработке. В купе с моей хорошей обучаемостью и стремлением понять и разобраться &laquo;как это работает&raquo;, мне легко даётся изучение новых направлений, а так же совершенствование существующих навыков и знаний. Предпочитаю периодически подкреплять свои знания чтением соответствующей документации.</p>
    </article>
    <article class="text-justify">
        <h3>Мои хобби:</h3>
        <p>&emsp;Кроме всего прочего люблю работать руками. От собственноручного ремонта в квартире, до обслуживания собственной авто- мото- техники в гараже, своим инструментом, руками и знаниями.</p>
        <p>&emsp;Так же знаком со спортом на &laquo;ты&raquo;. С 3-х лет управляю велосипедом не слезая, который и по сей день предпочитаю для передвижения по Москве. Успел плотно познакомиться с роликами, сноубордом, паркуром, брейкдансом.</p>
    </article>
    <footer class="section__footer">
        <button {{ id('button-summary-print', true) }} class="btn btn_transparent" aria-label="{{ t('print summary') }}">{{ t('print summary') }}</button>
        <button {{ id('button-summary-open', true) }} aria-label="развернуть резюме" class="section_summary__scroll-button">
            <span>развернуть резюме</span>
            {{ img('/images/icons/arrow-thin.svg').alt('развернуть резюме') }}
        </button>
    </footer>
{{ wrapper.close() }}