{{ wrapper.open() }}
    {{ label }}
    <article class="summary-card">
        {{ img('/images/mu-avatar.jpg').alt('Фото для резюме') }}
        <h3>Кратко обо мне:</h3>
        <p>&emsp;Меня зовут Михаил Успенский, мне {{ my_age }} года сейчас и я ищу постоянную работу в области веб-разработки.
            На данный момент являюсь fullstack-разработчиком. При обоюдном согласии возможно моё трудоустроство в области Gamedev, так как имею сопутствующие навыки.</p>
    </article>
    <article>
        <h3>Профессиональные навыки веб-разработчика:</h3>
        <ul>
            <li>Знание ОС windows XP, 7, 10, Ubuntu и умение пользоваться коммандной строкой;</li>
            <li>Развёртка и настройка локальных XAMPP, умение пользоваться пакетными менеджерами, запуск сайтов на хостингах (cpanel, agava, beget);</li>
            <li>Знание и умение программировать на PHP, JS, C#, понимание базовых принципов выбранных языков программирования, умение читать документацию и применять грамотный code-style.</li>
            <li>Знание отличий PHP версий 5, 7, 8, умение подключать модули, в том числе xdebug;</li>
            <li>Знание и понимание принципов ООП, знание паттернов программирования;</li>
            <li>Знание CMS Drupal 7, 8 и фреймворка Laravel, установка и обновление через composer, использование интерфейсов коммандной строки (drush/artisan);</li>
            <li>Хорошее знание HTML5/CSS3, в том числе адаптивная вёрстка, использование Sass, Gulp, знание и использование шаблонизаторов на практике (Pug, Twig, Blade);</li>
            <li>Навыки адаптации вёрстки для Google AMP и контента для Яндекс.Турбо;</li>
            <li>Грамотный нейминг функций, переменных, методов, классов, использование BEM-модели в именовании HTML-классов;</li>
            <li>Контроль версий git, использование SmartGit, консольный git;</li>
            <li>Знание SQL, понимание отличий и умение использовать DDL и DML, настройка и использование MySQL/NoSQL;</li>
            <li>Знание английского языка, умение читать документацию на английском.</li>
        </ul>
        <p>&emsp;В качестве портфолио в открытом доступе, могу предоставить репозиторий с этим сайтом на github'e, а так же <a href="https://my.mublog.site" target="_blank">одностраничный сайт</a> содержащий сервисный мануал для Subaru XV. Последний сделал для себя, чтобы всегда был под рукой.</p>
    </article>
    <article>
        <h3>Что я ищу:</h3>
        <ul>
            <li>Место php-разработчика, или fullstack-разработчика на уровне middle, возможно программиста или разработчика в gamedev;</li>
            <li>Трудостустройство и оформление по ТК РФ;</li>
            <li>Нормированный рабочий график 5/2;</li>
            <li>Работа в офисе, либо частично удалённо;</li>
            <li>Москва, переезды исключены;</li>
            <li>При необходимости стажировки, так же оформление по договору;</li>
            <li>Оплата &laquo;белая&raquo;, от 150 000 р. При стажировке возможно меньше, фиксируется договором.</li>
        </ul>
    </article>
    <article>
        <h3>Образование:</h3>
        <ul>
            <li>Среднее образование 9 классов ГБОУ СОШ №1440 (ранее школа №78, №1304), с углублённым изучением иностранных языков, выпустился в 2005 году;</li>
            <li>Художественное образование ГОУ ДШИ &laquo;Старт&raquo; архитектурно-художественного профиля, окончил в 2005 году;</li>
            <li>Среднее специальное образование КАС №7 (ранее МКАиСИ №7) по специальности &laquo;Архитектура&raquo;;</li>
            <li>Высшее образование НИУ МГСУ ИСА, бакалавр архитектурно-строительного факультета, вечернее отделение, выпуск 2015.</li>
        </ul>
    </article>
    <article>
        <h3>Предыдущий опыт работы:</h3>
        <ul>
            <li>2018-2021 Разработка и ведение нескольких проектов на Drupal 7 и 8, php-разработчик на Drupal, фриланс;</li>
            <li>2014-2018 Проектирование складов и логистических центров в ООО &laquo;Мегастор&raquo;, проектировщик;</li>
            <li>2013-2014 Проектирование и планировка офисов и офисных здание в ООО &laquo;Груп Системс&raquo;, архитектор-проектировщик;</li>
            <li>2010-2011 Прохождение срочной службы в армии, в/ч 92925, оператор С300-ПМ;</li>
            <li>2008-2010 Два периода работы по полгода в ООО &laquo;АРКАТ&raquo; во время учёбы в колледже, помощник архитектора.</li>
        </ul>
    </article>
    <article>
        <h3>Дополнительные навыки:</h3>
        <ul>
            <li>Архитектурное и складское проектирование, знание Autocad, Archicad, Revit;</li>
            <li>3D моделирование и визуализация, знание 3ds Max, VRay, Corona;</li>
            <li>Знание и понимание принципов текстурирования, создания различных карт (diffuse, bump, normal, reflection, refract);</li>
            <li>Навыки в области графического дизайна, знание Photoshop, CorelDraw, Illustrator;</li>
            <li>Создание рабочего 3D приложения на Unity;</li>
            <li>Умение обрабатывать и редактировать аудио- и видео- файлы, знание Pinnacle Studio, Adobe Audition;</li>
            <li>Создание модификаций и собственного контента для различных игр.</li>
        </ul>
    </article>
    <article>
        <h3>Ещё немного обо мне:</h3>
        <p>&emsp;Родился я в 89 году, вырос и живу сейчас в Москве. Женат, детей пока нет. По образованию я архитектор и предыдущий опыт работы до 2018 года связан именно с архитектурой и проектированием. Но в 2018 году я сменил область своей профессиональной деятельности и переквалифицировался полностью в IT. На протяжении всей своей карьеры я успел хорошо изучить 3D-моделирования и визуализацию (3ds max), а так же создание 3D-приложений на Unity.</p>
        <p>&emsp;В итоге, на данный момент, имею опыт и знание как в проектировании, 3D-моделировании, так и в программировании и веб-разработке. В купе с моей хорошей обучаемостью и стремлением понять и разобраться &laquo;как это работает&raquo;, мне легко даётся изучение новых направлений, а так же совершенствование существующих навыков и знаний. Предпочитаю периодически подкреплять свои знания чтением соответствующей документации.</p>
    </article>
    <article>
        <h3>Мои хобби:</h3>
        <p>&emsp;Кроме всего прочего люблю работать руками. От собственноручного ремонта в квартире, до обслуживания собственной авто- мото- техники в гараже, своим инструментом, руками и знаниями.</p>
        <p>&emsp;Так же знаком со спортом на &laquo;ты&raquo;. С 3-х лет управляю велосипедом не слезая, который и по сей день предпочитаю для передвижения по Москве. Успел плотно познакомиться с роликами, сноубордом, паркуром, брейкдансом.</p>
    </article>
{{ wrapper.close() }}