<!DOCTYPE html>
<html lang="{{ langcode }}">

{% include "page--head.html.twig" %}

<body{{ attributes }}>
    {{ admin_bar }}
    {{ page.header }}
    {{ page.messenger }}
    {{ page.title }}
    {{ page.content }}
    {{ system_log }}
    {{ page.footer }}
    {{ page.modal }}

    {% for item in js %}
        {% if item.content %}
            <script {{ item.type }}>{{ item.content }}</script>
        {% else %}
            <script src="{{ item.src }}" {{ item.type }}></script>
        {% endif %}
    {% endfor %}
</body>
</html>